github_oauth_client_secret: "your_github_secret_here"
keycloak_oauth_client_secret: "your_keycloak_secret_here"
oauth_cookie_secret: "your_oauth2_proxy_cookie_secret_here"
keycloak_admin_password: "your_keycloak_admin_password"
