[Unit]
Description=OAuth2 Proxy Service
After=network.target

[Service]
Type=simple
User=root
ExecStart={{ oauth2_proxy_bin_path }} --config={{ oauth2_proxy_config_dir }}/oauth2-proxy.cfg --alpha-config={{ oauth2_proxy_config_dir }}/alpha-config.yaml
RestartSec=5s

[Install]
WantedBy=multi-user.target
