reverse_proxy = true
redirect_url = "http://{{ ansible_host }}/oauth2/callback"

cookie_secret = "{{ oauth_cookie_secret }}"
cookie_name = "_oauth2_proxy"
cookie_secure = false
cookie_httponly = true
cookie_samesite = "lax"
cookie_expire = "168h"
cookie_refresh = "1h"

email_domains = [
    "*"
]

skip_provider_button = true
